extends ./layout/index
block slider 
    .slider 
        h1 Rio de Janeiro 
        em aventura
block contenido 
    main.container.mt-5 
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5 
            .col-md-6 
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec neque elit, luctus nec sagittis ac, aliquet vitae metus. In ut est sed nibh fermentum dignissim. Vestibulum aliquam sit amet ligula ut aliquam. Nullam condimentum elit lobortis aliquam malesuada. Aenean pellentesque congue augue ac cursus.  
                p Etiam eget laoreet mauris. Mauris eget gravida tortor, id rhoncus metus. Duis sed lacus non leo porta dapibus sit amet eu nibh. Praesent nec dolor arcu. Donec turpis erat, sagittis scelerisque dapibus et, mollis sit amet odio. 
            .col-md-6 
                img(src="/img/inicio_nosotros.jpg" alt="imagen nosotros", class="img-fluid")
        include ./layout/bloque_viajes
    .descuento 
        .container
            .row 
                .col-md-6 
                    .contenido 
                        h3 5% de Descuento 
                        p.titulo Viaje a Canada 
                        p.fecha 20 de Marzo de 2025 - 28 de Marzo de 2025
                        p.precio $2.500 USD
    .container 
        h2.mt-5.text-center Testimoniales   
        include ./layout/bloque_testimoniales 
        
